Debug
Release
SkympClient/Debug
SkympClient/Release
Skyrim/Debug
Skyrim/Release
SKSE/Debug
SKSE/Release
RakNet/Debug
RakNet/Release
.vs/*
*.bat
*.rar
*.zip
*.tmp
*.TMP
requirements/skymp_config.ini
node_modules
